if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[docu_base_historica]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[docu_base_historica]
GO

CREATE TABLE [dbo].[docu_base_historica] (
	[hist_codigo] [char] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[hist_descripcion] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[hist_fecha] [datetime] NULL 
) ON [PRIMARY]
GO

